/*
* Style Works for both Editor and Frontend
*/

.wp-block-bdt-advanced-button {

	*{
		margin: 0;
		padding: 0;
	}
	
	a {
		text-decoration: none;
	}
.bdt-link-btn span,a{
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	background-color: green;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding:18px 0;
	text-align: center;
	text-transform: none;
	white-space: nowrap;
	transition: .2s ease-in;
}
	


}
	