/*
* Style Works for both Editor and Frontend
*/

.wp-block-bdt-advanced-button {
	a {
		text-decoration: none;
	}
	.bdt-link-btn span,
	a {
		box-sizing: border-box;
		padding: 5px 20px;
		color: #fff;
		cursor: pointer;
		background-color: green;
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		line-height: 2.2;
		text-align: center;
		text-transform: none;
		transition: 0.2s ease-in;
	}
}
